body {
    margin: 0px;
    height: 150%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.nav  {
  background-color: #333;
}

li.normal {
    float: left;
}

li.auth {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
  background-color: #111;
}


.active {
  background-color: #04AA6D;
}




.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    background-color:#DEB887;
}


.grid-item {
    margin: 10px;
    background-color:#F0FFFF;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}




.pagination {
    width: 60%;
    position: relative;
    top: 10px;
    margin: auto;
    background-color: #DC143C;
    color: black;
    text-align: center;
}

.center li {
    margin: auto;
}

.pagination li {
    display: inline-block;
}

.footer {
  color: white;
  background-color: #333;
  position:relative;
  top: 30px;
  width: 100%;
  text-align: center;
}